header {
  position: relative;
  height: 70px;
  background-color: #b46c43c2;
  padding: 5px 50px;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 20px 5px rgba(51, 51, 51, 0.322);
  z-index: 10;
}
header div {
  width: 200px;
  float: left;
}
header div img {
  width: 150px;
  margin-top: 10px;
}
header nav {
  position: absolute;
  right: 50px;
}
header nav ul li {
  display: inline-block;
  margin: 0 40px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  line-height: 70px;
}
.info {
  padding: 50px;
  margin-top: -10px;
  background-color: #cf5f36;
}
.info h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.info div {
  float: left;
  width: 33%;
  text-align: center;
}
.info::after {
  content: '';
  clear: both;
  display: table;
}
.info div ul li {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.info div ul ul li {
  display: inline-block;
}
.info div ul ul li a {
  font-size: 30px;
  margin: 0 20px;
  color: white;
}
.hero-area {
  position: relative;
}
.hero-area img {
  width: 100%;
  height: 600px;
  /* background-size: cover; */
  object-fit: cover;
}
.black-layer {
  position: absolute;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.41);
}
.hero-area h1 {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transform: translate(-50%, -50%);
}
.tools {
  position: relative;
  display: block;
  min-height: 500px;
}
.tools .header {
  text-align: center;
  margin: 40px;
}
.tools .header h2 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.tools .images img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  position: absolute;
}
.tools .images img:last-child {
  right: 50px;
}
.tools .images img:first-child {
  left: 50px;
}
.tools .images {
  display: block;
  margin: 0 auto;
}

.fish-type {
  display: block;
  position: relative;
  /* height: auto; */
  min-height: 500px;
  background-color: #fff;
  padding: 20px;
}
.fish-type .header {
  text-align: center;
  margin: 40px;
}
.fish-type .header h2 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.fish-type .images img {
  /* width: 450px; */
  height: 300px;
  object-fit: cover;
  position: absolute;
}
.fish-type .images img:last-child {
  right: 50px;
  width: 300px;
  object-fit: contain;
}
.fish-type .images img:first-child {
  left: 50px;
}
.fish-type .images {
  display: block;
  margin: 0 auto;
}

.testimonials {
  min-height: 320px;
  position: relative;
  padding: 40px;
  background-color: rgb(115, 173, 226);
}
.testimonials h2 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.testimonials .header {
  float: left;
  width: 50%;
  position: absolute;
  text-align: center;
  margin-top: 80px;
  color: #333;
  font-size: 18px;
  left: 50px;
}
.testimonials .images {
  float: right;
  position: absolute;
  right: 50px;
}

footer {
  text-align: center;
  min-height: 30px;
}
footer p {
  vertical-align: middle;
  line-height: 30px;
}
