body {
  background-color: rgb(231, 231, 231);
  height: 2000px;
}
header {
  position: relative;
  height: 70px;
  background-color: #b46c43c2;
  padding: 5px 50px;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 20px 5px rgba(51, 51, 51, 0.322);
  z-index: 10;
}
header div {
  width: 200px;
  float: left;
}
header div img {
  width: 150px;
  margin-top: 10px;
}
header nav {
  position: absolute;
  right: 50px;
}
header nav ul li {
  display: inline-block;
  margin: 0 40px;
}
header nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  line-height: 70px;
}

table {
  border: solid 1px #333;
  border-collapse: collapse;
  margin: 0px auto;
}
table td,
th {
  border: solid 1px #333;
  border-collapse: collapse;
  text-align: center;
  width: 60px;
}
th {
  font-weight: bold;
}

#new-place-form {
  /* margin-top: 1px; */
  padding: 50px;
}
#new-place-form fieldset {
  border: solid 1px #333;
  padding: 20px;
  padding-bottom: 0;
}
#new-place-form div {
  margin-bottom: 30px;
}
#new-place-form label {
  margin-right: 20px;
  display: inline-block;
  width: 130px;
  font-size: 18px;
}
#new-place-form input {
  height: 30px;
  width: 200px;
  font-size: 16px;
  margin-right: 30px;
}
